@model CommentsViewModel
@if (Model.Comments.Any())
{
    @foreach (var comment in Model.Comments)
    {
        <div>
            <p>Name: @comment.Name</p>
            <p>Body: @comment.Body</p>
            <p>Email: @comment.Email</p>
        </div>
    }
}
else
{
    <div>No comments found for photo: @Model.PhotoId</div>
}

